.footer,
.header,
.section {
    display: table;
    width: 100%;
    text-align: center;
    padding: 15%;
    box-sizing: border-box;
    opacity:.9;
    
}

.footer > div,
.header > div,
.section > div {
    display: table-cell;
    vertical-align: middle;
}

body,
html {
    font-family: "Montserrat", sans-serif;
        background-image: url(/images/Concrete-Wall.jpg);
    background-attachment: fixed;
}

a {
    color: inherit;
    text-decoration: underline;
    font-weight: 700;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.header {
    height: 700px;
}

.footer {
    height: 1200px;
}

.section-down-arrow-wrap {
    cursor: pointer;
    height: 50px;
    width:  50px;
    background-image: url(/examples/images/next-button-w.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    margin-left:auto;
    margin-right:auto;
}


/* Styling for Each of the individual sections. Each section is called not by a class or id name but by using the nth-child pseudo class properties. */

.section:nth-child(9n+1) {
    height: 100px;
    background-image: url(/images/Concrete-Wall.jpg);
}

.section:nth-child(9n+2) {
    height: 1000px;
    /* background-color: rgba(232, 157, 93, .6); */
}

.section:nth-child(9n+3) {
    height: 1000px;
   /* background-color: rgba(255, 227, 62, .6); */
}

.section:nth-child(9n+4) {
    height: 900px;
   /* background-color: rgba(122, 232, 86, .6); */
}

.section:nth-child(9n+5) {
    height: 1500px;
    /* background-color: rgba(122, 255, 230, 0.6); */
}

.section:nth-child(9n+6) {
    height: 100px;
    /* background-color: rgba(110, 116, 245, 0.6); */
}

.section:nth-child(9n+7) {
   /* background-color:rgba(127, 255, 212, 0.6); */
}

.section:nth-child(9n+8) {
   /* background-color:rgba(143, 188, 143, 0.6); */
}

.section:nth-child(9n) {
    /* background-color:rgba(255, 218, 185, 0.6); */
}