.container {
    position:relative;
/*    background-color: aqua;*/
    width:23.4rem;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}

.site-title {
    position: absolute;
    height: 32px;
    width: 200px;
    background-color: pink;
/*    padding: 10px 40px 10px 10px;*/
    top: 30px;
    left: 30px;
}

.menu {
    position: absolute;
    height: 32px;
    width: 30px;
    background-color: gold;
    top: 30px;
    left: 400px;
}

.hello {
     position: absolute;
    background-color:green;
    height: 100px;
    width: 240px;
    top: 150px;
    left: 100px;
}

.nav-bar {
    position: absolute;
    width: 300px;
    height: 50px;
    background-color: blue;
    top: 300px;
    left: 80px;
}

.portfolio {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.image-1 {
    position:absolute;
    display:flex;
    width: 16rem;
    height:20rem;
    background-color:purple;
    top: 400px;
    left: 100px;
}

.image-2{
    position:absolute;
    display:flex;
    width: 16rem;
    height:20rem;
    background-color:purple;
    top: 730px;
    left: 100px;
    
    
}

