.container {
       position:relative;
/*    background-color: aqua;*/
    width:23.4rem;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}

.site-title {
    position: absolute;
    height: 32px;
    width: 250px;
    background-color: pink;
    padding: 10px 40px 10px 10px;
    top: 30px;
    left: 30px;
}

.menu {
    position: absolute;
    height: 32px;
    width: 30px;
    background-color: gold;
    top: 30px;
    left: 400px;
}

.image-1 {
    Position: absolute;
    background-color: purple;
    top: 100px;
    left: 20px;
    width: 400px;
    height: 400px;
    margin: auto;
}

.project-title {
    Position: absolute;
    background-color: blue;
    top: 530px;
    text-align: center;
    width: 300px;
    left: 80px;
}

.project-description {
    position: absolute;
    background-color: green;
    width: 300px;
    height: 300px;
    top: 620px;
    left: 80px
}

.project-details {
  position: absolute;
    background-color: green;
    width: 300px;
    height: 300px;
    top: 930px;
    left: 80px;
}
