body {
    background-image: url(images/paper%20texture.png);
    font-family: sans-serif;
    margin-left:auto;
    margin-right:auto;
}

p{
    
}
h1 {
    color:black;
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 350px;
}

h4 {
    color:black;
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

h5{
   font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;  
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    color: black;
    border: 5px
    solid #000;
    padding: 60px;
    margin-top:50px;
}

.heading-container {
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
}

/* Large DIV for letter anyalsis and button */
.group-2 {
    display:flex;
    justify-content:flex-start;
    
}
#button {

    z-index:30;
}


}
.letter-g {
    z-index:20;
    top: 43px;
    left: 148px;
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 350px;
    position:absolute;
    left:auto;
}

    
.letterforms {
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    
   
     
}

    .overflow { 
    overflow-x:scroll;
    overflow-y:hidden;
    float:left;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: flex-start
    
        

}
  
.group-3 {
    display:flex;
    justify-content: flex-start;
    width: 768px; 
}
.description {
    font-family: "futura-pt",sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 12px;
    float: left ;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    width: 285.996px;
    height:
    

}
.group-4{
    display:flex;
    justify-content: flex-start;
    width: 768px; 
}
.name {
    display: flex;
    justify-content: flex-start;
    width:200px;

  
}

.sources {
     font-family: "futura-pt",sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 9px;
    width: 300px;
}