body {
    background-image: url(images/paper%20texture.png);
    font-family: sans-serif;
    margin-left:auto;
    margin-right:auto;
}

p{
    
}
h1 {
    color:black;
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 350px;
}

h4 {
    color:black;
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: -10;
}

h5{
   font-family: "futura-pt",sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 9px;
    position: absolute;
    display: flex;
    margin: 0px;
}

.container-position {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 1060px;
    color: black;
    border: 2px
    solid #000; 
    padding: 45px;
    margin-top:50px;
}

.position{
position: relative;
    
}

.heading-container {
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    position: absolute;
    display: flex;
    margin-top: -30px
    }

/* Large DIV for letter anyalsis and button */

.group-2 {
    /*display:flex;
    justify-content:flex-start; */
    position: absolute;
    width: 768px;
    display: flex;
    top: 190px;
    justify-content: flex-start;
    margin-left: 80px;
    z-index:-30;
    
}


#button {
    z-index: 20;
    position:absolute;
    display:flex;
    justify-content: flex-start;
    top: 188px;
}
#button:hover{
    background-image: url(images/button-fill-01.png)
}
}

.cycle-slideshow analysis {
    z-index:-30;
    position: absolute;
    display: flex;
    justify-content:flex-start;
}

/*.letter-g {
    position:absolute;
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 750px;
    float:left;
    z-index:-40;
    top: -1000px;
}
*/

    
.letterforms {
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;  
}

.group-3 {
   /* display:flex;
    justify-content: flex-start; */
    width: 768px; 
    position: absolute;
    top:750px;
    
}
    .overflow { 
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    float:left;
    width: 300px;
    height: 140px;
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
    
        
}
  
.description {
    font-family: "futura-pt",sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 14px;
    float: left ;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    width: 285.996px;
}

.group-4 {
    position: absolute;
    top: 995px;
    width: 200px; 
    
}
.picture {
    display: flex;
    justify-content: flex-start;
    position:absolute;
    width: 50px;
    bottom: -65px;

}

.name {
    color:black;
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    width: 200px;
    position:absolute;
    bottom: -50px;
    left: 70px;
}

.BFA {
    display: flex;
    position:absolute;
    bottom: -48px;
    width: 200px;
    left: 70px;
}
.group-6 {
    width: 800px; 
    position: absolute;
    top:100px;
    display: flex;  
}
.group-5 {
   position: absolute;
    top: 1000px;
    width: 200px; 
    display: flex;
    justify-content: flex-start;
}

.source-title{
    position: absolute;
    display: flex;
    width: 200px;
    bottom: -0px;
    right: -325px;

}
.sources {
    font-family: "futura-pt",sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 9px;
    height: 100px;
    width: 200px;
    position: absolute;
    display: flex;
    right: -325px;
}

